<!DOCTYPE html>
<html class="">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Testaufgabe - Bundesland</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="../css/bundesland.css"/>
</head>

<body>
<h1>Bundesländer</h1>
<ul class="two-col-special">

    <li class="two-col-special-li" *ngFor="let hero of heroes">
        <a href="{{hero.url}}">
            {{hero.name}}
            <br/>{{hero.schoolCount}} Schulen <br/>
        </a>
    </li>

</ul>

</body>
</html>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
